site_name: tapefive
site_description: "Typed, high-level Python API for LBLRTM/LNFL"
repo_url: https://github.com/HagenTelg/tapefive
theme:
  name: material
  features:
    - content.code.copy
    - navigation.sections
    - search.suggest
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
  - mkdocs-jupyter:
      execute: false
markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
nav:
  - Home: index.md
  - Install: install.md
  - Quickstart: guide/quickstart.md
  - Guides:
      - Build TAPE5: guide/tape5.md
      - Run LNFL & LBLRTM: guide/run.md
      - Parse Outputs: guide/parse.md
      - Examples (Notebooks): examples/index.md
  - API Reference:
      - tapefive: api/index.md
  - Dataset Schema: schema.md
  - FAQ: faq.md
